<%= form_with(model: pais, local: true) do |form| %>

  <div class="field">
    <%= form.label :nome %>
    <%= form.text_field :nome %>
    <%= form.error_span(:nome) %>
  </div>

  <div class="field">
    <%= form.label :codigo %>
    <%= form.text_field :codigo %>
    <%= form.error_span(:codigo) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
